@model WebApp.ViewModel.Home.ViewServiceDataViewModel
@{
    ViewBag.Title = "View Service Data";
    ViewBag.Description = "View Service Data";
    ViewBag.Keywords = "View Service Data";
}
<h1>View Microservices Data</h1>
<a class="btn btn-primary" href="/">Go Back</a>


<h2>Logging Microservice</h2>
<a class="btn btn-primary" href="/ViewServiceData?create=logging">Create Logging Record</a>
<h3>LogMessage Records</h3>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <td>StorageKey</td>
            <td>Create Date</td>
            <td>Application</td>
            <td>Category</td>
            <td>Message</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var log in Model.LogMessages)
        {
            <tr>
                <td>@log.StorageKey</td>
                <td>@log.CreateDate</td>
                <td>@log.Application</td>
                <td>@log.Category</td>
                <td>@log.Message</td>
            </tr>
        }
        <tr>            
        </tr>
    </tbody>
</table>

<h2>Cache Microservice</h2>
<a class="btn btn-primary" href="/ViewServiceData?create=cache">Create Cache Record</a>
<h3>CacheData Records</h3>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <td>StorageKey</td>
            <td>Key</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var cachedata in Model.CacheDatas)
        {
            <tr>
                <td>@cachedata.StorageKey</td>
                <td>@cachedata.CacheKey</td>
                <td>@cachedata.CacheValue</td>
            </tr>
        }
        <tr>
        </tr>
    </tbody>
</table>

<h2>Notification Microservice</h2>
<a class="btn btn-primary" href="/ViewServiceData?create=notification">Create Notification Record</a>
<h3>NotifyMessage Records</h3>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <td>StorageKey</td>
            <td>Create Date</td>
            <td>SenderType</td>
            <td>To Address</td>
            <td>Body</td>
            <td>Complete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var notify in Model.Notifications)
        {
            <tr>
                <td>@notify.StorageKey</td>
                <td>@notify.CreateDate</td>
                <td>@notify.SenderType</td>
                <td>@notify.ToAddress</td>
                <td>@notify.Body</td>
                <td>@notify.IsComplete</td>
            </tr>
        }
        <tr>
        </tr>
    </tbody>
</table>


<h2>Security Microservice</h2>
<a class="btn btn-primary" href="/ViewServiceData?create=security">Create Audit Record</a>
<h3>User Records</h3>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <td>StorageKey</td>
            <td>Create Date</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.StorageKey</td>
                <td>@user.CreateDate</td>
                <td>@user.Email</td>
            </tr>
        }
        <tr>
        </tr>
    </tbody>
</table>
<h3>UserAudit Records</h3>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <td>StorageKey</td>
            <td>Create Date</td>
            <td>UserStorageKey</td>
            <td>IP Address</td>
            <td>Request Headers</td>
            <td>Audit</td>
            <td>Data</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UserAudits)
        {
            <tr>
                <td>@user.StorageKey</td>
                <td>@user.CreateDate</td>
                <td>@user.UserStorageKey</td>
                <td>@user.IPAddress</td>
                <td>@user.RequestHeaders</td>
                <td>@user.AuditType</td>
                <td>@user.Data</td>
            </tr>
        }
        <tr>
        </tr>
    </tbody>
</table>