<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name">
    <head>
        <meta charset="utf-8">

        <!-- SEO Meta Tags -->
        <title>@ViewData["Title"]</title>    
        <meta name="keywords" content="@ViewData["Keywords"]">
        <meta name="description" content="@ViewData["Description"]">
        <meta name="author" content="http://ServiceBricks.com">

        <!-- Mobile Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon and Apple Icons -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
   
        <!-- Scripts and Style Sheets -->
        <script src="/lib/jquery/dist/jquery.js"></script>    
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" media="screen" href="/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="/css/site.css">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EXPW0GSBQ6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-EXPW0GSBQ6');
        </script>

        <!-- View Head -->
        @RenderSection("Head", required: false)
    </head>
    <body class="layout-body">
        <div class="skipnav"><a href="#maincontent">Skip to main content</a></div>
        <!-- Layout Header -->
        <partial name="_HeaderPartial" />        

        <div id="maincontent" name="maincontent" class="layout-body-view container">
            <!-- Layout Content -->
            @RenderBody()    
        </div>

        <!-- Layout Footer -->
        <partial name="_FooterPartial" />        

        <!-- Layout Scripts -->
        <script src="/js/site.js"></script>
    
        <!-- View Scripts -->
        @RenderSection("Scripts", required: false)
    </body>
</html>
